@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Mochiy+Pop+P+One&family=Neonderthaw&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Mochiy Pop P One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px; /*Stops the logo hugging the left hand side of the page*/
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none; /*Removes hyperlink underline*/
    color: inherit; /*Inherts the body color*/
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/meditate-background.jpeg") no-repeat center center;


/*Animates zoom effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text, #cover-text h2{
    color: #fff;
}

/*Ceates the level of zoom for hero image*/
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
/*
#cover-text{
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;
} 
*/

/* Club Ethos */

#club-ethos {
    height: 600px;

}

#left-about {
padding-top:30px;
width: 33%; /*Placed 33% out from the left*/
float:left;
/*background-color: blue; Adding color to divs helps with debugging issues that may arise*/
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    /*There is no float center value, use margin 0, auto to centre the "center" div*/
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both; /*Setting clear:both ensures that each content is aligned properly*/
    margin-bottom: 50px;
 /* ------- Add a font-family to this ----------  */
}

.right-about-heading{
    width:60%;
    float:left;
    line-height:20px;
    clear: both; /*Setting clear:both ensures that each content is aligned properly*/
    margin-bottom: 50px;
}

/************************/
/*Pushes the titles to the right side instead of the left, comment it out and look at the h2 tags move to the left*/
.right-about-heading h2{
    text-align:right;
}

/*Pushes the paragraphs to the right side instead of the left, comment it out and look at the p tags move to the left*/
.right-about-heading p{
    text-align:right;
}

#welcome{
    text-align:center;
    margin: 20px 0;
    font-size:280%;
}

/***** -- What is Meditation section -- *****/
#meditation-intro-heading h2{

    text-align:center;
    padding-top:20px;
    background-color:#8c918f;
    color:pink;
    font-size:150%;

}

#meditate-paragraph{
    background-color:white;
    text-align:center;
    padding-left:110px;
    padding-right:110px;
    padding-top:60px;
    padding-bottom:100px;
    font-size: 125%; 
    font-family: Lato, sans-serif;
}

/***********END OF Meditation Section************/

/***********START of Exercise Section************/

.exercise1-container{
    padding-top:30px;
    display:flex;
    padding-left:70px;
}

#exercises-heading2{
    font-size: 125%;
    text-align: center;
    padding-left:25px;
    padding-top:25px;
}

#exercise1-heading{
    padding-left: 275px;
    font-size:90%;
}

#exercise1-heading h2{
    font-family: Mochiy Pop P One, sans-serif;
}
/*
#exercise1-paragraph{
    background-color:red;

} */
#exercise1-para{
    padding-left:40px;
    font-size: 120%;
    padding-top: 30px;
    font-family: Lato, sans-serif;
}

.image{
    flex-basis: 40%;
    padding-left: 210px;
    border-radius: 50px;
    top:0px;
    left:190px;
    bottom: 150px;
    right:100px;
    
}



#hr_exercises_top{
    border: 2px solid #bd1616;
}




/***********END of EXERCISE Section************/

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    
}

#circle-cover-bg{
    background: url(../images/rsz_1download.jpg) no-repeat center center; 
    /* -- The image is set to 500px 500px using PicResize, maybe try 600px 600px--  */
    height: 100%;
    border-radius: 50%;
}

#session-bar{
    background-image: url('../images/meditate-on-sea.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#meditate_hr{
    border: 1px solid black;
}

#session-bar div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 400px; /*Set at 300px initially*/
    float:left;
    padding: 125px 0 0 10px; /*30px 0 0 10px;*/
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#exercise-end-heading-row{
    border: 2px solid black;
}

#contact_us_heading{
    font-size: 125%;
    text-align: center;
    padding-left:25px;
    padding-top:25px;
    font-family: Mochiy Pop P One, sans-serif;
}

#contact_us_heading_row_ending{
    border: 2px solid black;
}

footer{

    height:150px;
    position: relative;
    bottom:0px;
}

.social-links{
    text-align:center;
}

.social-links > li{
    display: inline; /*Displays the links to */
}

.social-links i {
    font-size:160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#iframe-maps{
    padding-left:1065px;
}

