@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Mochiy+Pop+P+One&family=Neonderthaw&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Mochiy Pop P One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px; /*Stops the logo hugging the left hand side of the page*/
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    position: fixed;
    top: 0;
    width:100%;
}

#menu, #logo{
    line-height: 75px; 
}

#menu li {
    float: right; 
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none; /*Removes hyperlink underline*/
    color: inherit; /*Inherts the body color*/
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* background image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#background-image {
    height: 100%;
    width: 100%; 
    background: url("../images/meditate_background__.jpeg") no-repeat;
    background-size: cover;
}


/*Sessions go here!!!!*/


div#container_top_narrower {
    margin-left: 2.5%; /*ADDED*/
}

.container_top{
    background-color: rgba(0, 0, 0, .6);
    text-align:center;
    padding:0px;
    font-size:130%;
    border-radius:25px;
    box-sizing: border-box;
    width: 30%; /*changing the width to allow for the margin to align correctly */
}

.container_under{
    background-color: rgba(0, 0, 0, .6);
    text-align:center;
    padding:5px;
    font-size:120%;
    border-radius:25px;
    box-sizing: border-box; /*ADDED*/
    width: 45%;
}

div#bottom_container_narrower{
    margin-left: 2.5%;
    box-sizing: border-box;
} /*Added*/





#session-bar{
    /* background-image: url('../images/meditate-on-sea.jpeg'); */
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     overflow: hidden;
     padding-top:50px;
 }
 




/*     -- bootstrap navbar --         */
.navbar-brand{
    font-family: 'Comforter', cursive;
    font-size: 350%;
}

.navbar-nav li {
    font-family: 'Comforter', cursive;
    font-size: 210%;
}
/* -- END -- */



/***** -- What is Meditation section -- *****/
#meditation-intro-heading h2{

    text-align:center;
    padding-top:20px;
    background-color:#8c918f;
    color:pink;
    font-size:150%;

}

#meditate-paragraph{
    background-color:white;
    text-align:center;
    padding-left:110px;
    padding-right:110px;
    padding-top:60px;
    padding-bottom:100px;
    font-size: 125%; 
    font-family: Lato, sans-serif;
}

/***********END OF Meditation Section************/

/***********START of Exercise Section************/

.exercise1-container{
    padding-top:30px;
    display:flex;
    padding-left:70px;
}

#exercises-heading2{
    font-size: 125%;
    text-align: center;
    padding-left:25px;
    padding-top:25px;
}

#exercise1-heading{
    padding-left: 275px;
    font-size:90%;
}

#exercise1-heading h2{
    font-family: Mochiy Pop P One, sans-serif;
}
/*
#exercise1-paragraph{
    background-color:red;

} */
#exercise1-para{
    padding-left:40px;
    font-size: 120%;
    padding-top: 30px;
    font-family: Lato, sans-serif;
}

.image{
    flex-basis: 40%;
    padding-left: 210px;
    border-radius: 50px;
    top:0px;
    left:190px;
    bottom: 150px;
    right:100px;
    
}



#hr_exercises_top{
    border: 2px solid black;
}




/***********END of EXERCISE Section************/

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    
}

#circle-cover-bg{
    background: url(../images/rsz_1download.jpg) no-repeat center center; 
    /* -- The image is set to 500px 500px using PicResize, maybe try 600px 600px--  */
    height: 100%;
    border-radius: 50%;
}


#meditate_hr{
    border: 1px solid black;
}



#exercise-end-heading-row{
    border: 2px solid black;
}

#contact_us_heading{
    font-size: 125%;
    text-align: center;
    padding-left:25px;
    padding-top:px;
    font-family: Mochiy Pop 25P One, sans-serif;
}

#contact_us_heading_row_ending{
    border: 2px solid black;
}

footer{

    height:150px;
    position: relative;
    bottom:0px;
    padding-top:20px;
}

.social-links{
    text-align:center;
}

.social-links > li{
    display: inline; /*Displays the links to */
}

.social-links i {
    font-size:160%;
    margin: 1%;
    padding: 10%;
    padding-top:15px;
    padding-bottom:0px;
    color: #3a3a3a;
}

#iframe-maps{
    padding-left:1065px;
}


/* ///////////////////// CONTACT US ///////////////////// */






